<?xml version="1.0" ?>
<robot name="kuka_robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <property name="pi" value="3.141592654"/>

    <!-- Robot -->
    <xacro:include filename="$(find simtech_kuka_workcell)/urdf/kr120r2500pro_macro.xacro"/>
    <xacro:kuka_kr120r2500pro prefix=""/>

    <joint name="kr120r2500pro" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.067" rpy="0 0 0"/>
    </joint>

  

</robot>
