pandas
scikit-learn
scipy==1.10.0
numpy==1.23.5
librosa==0.9.0
opencv-python==4.7.0.72
PyWavelets==1.4.1
soundfile==0.12.1
plotly==5.13.1
plotly-express==0.4.1
scikit-image==0.19.3
natsort==8.2.0
h5py
prettytable==3.6.0
pyAudioAnalysis
tqdm
shapely==2.0.1
mayavi==4.8.1
essentia

