<launch>
  <arg name="device" default="" />

  <!-- publish audio data as wav format -->
  <node name="audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
    <param name="device" value="" />
    <param name="format" value="wave" />
    <param name="channels" value="1" />
    <param name="depth" value="16" />
    <param name="sample_rate" value="50000" />
    <param name="device" value="$(arg device)" />
    <param name="sample_format" value="S16LE"/>
  </node>
</launch>
