<launch>
  <arg name="audio_topic" default="/audio"/>
  <arg name="device" default="hw:1,0" />
  <arg name="sample_rate" default="44100"/>
  <arg name="abb" default="false" />
  <arg name="kuka" default="false" />
  <arg name="rviz" default="true"/>
  <arg name="thermal" default="false"/>
  <arg name="vision" default="true"/>
  <arg name="pylon" default="true"/>
  <arg name="acoustic" default="true"/>
  <arg name="robot_launch" default="false" />
  <arg name="image_processing" default="true"/>
  <arg name="plotjuggler_viz" default="false"/>
  <arg name="plotjuggler_viz_multimodal" default="false"/>


  <!-- Real-time quality prediction -->
  <node name="quality_prediction" pkg="multimodal_monitoring" type="multimodal_prediction.py" />


  <!-- launch robot: ABB or KuKa -->
  <include file="$(find simtech_robot_laser_control)/launch/simtech_robot_interface.launch" if="$(arg abb)">
    <arg name="robot_ip" value="192.168.125.1" />
    <arg name="J23_coupled" value="true" />
    <arg name="laser_type" value="ipg" />
    <arg name="feeder_type" default="powder" />
  </include>

  <include file="$(find simtech_kuka_workcell)/launch/kuka_LDED_rsi_workcell.launch" if="$(arg kuka)">
    <arg name="rviz" value="$(arg rviz)" />
  </include>

  <!-- Thermal monitoring -->
  <include file="$(find thermal_monitoring)/launch/thermal_monitoring.launch" if="$(arg thermal)">
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="robot_launch" value="$(arg robot_launch)" />
    <arg name="plotjuggler_viz" value="$(arg plotjuggler_viz)" />
    <arg name="image_processing"  value="$(arg image_processing)"/>
  </include>

  <!-- Coaxial CCD monitoring (normal USB camera or Pylon camera) -->
  <include file="$(find camera_measures)/launch/coaxial_vision_measures.launch" if="$(arg vision)">
    <arg name="gui" value="true" />
    <arg name="pylon" value="$(arg pylon)" />
    <arg name="contour_extract" value="true"/>
    <arg name="convex_hull_extract" value="true"/>
    <arg name="moment_extract" value="true"/>
  </include>

  <!-- acoustic monitoring -->
  <include file="$(find acoustic_feature_extraction)/launch/acoustic_monitoring.launch" if="$(arg acoustic)">
    <arg name="audio_topic" value="$(arg audio_topic)"/>
    <arg name="device" value="$(arg device)" />
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="plotjuggler_viz" value="$(arg plotjuggler_viz)" />
  </include>

  <node name="plot_multimodal" pkg="plotjuggler" type="plotjuggler" if="$(arg plotjuggler_viz_multimodal)"/>



</launch>
