<launch>
  <arg name="sample_rate" default="44100"/>
  <arg name="abb" default="false" />
  <arg name="kuka" default="false" />
  <arg name="rviz" default="true"/>
  <arg name="thermal" default="false"/>
  <arg name="vision" default="true"/>
  <arg name="pylon" default="false"/>
  <arg name="acoustic" default="false"/>
  <arg name="robot_launch" default="false" />
  <arg name="image_processing" default="true"/>
  <arg name="plotjuggler_viz" default="false"/>
  <arg name="plotjuggler_viz_multimodal" default="false"/>
  <arg name="audio_topic" default="/audio"/>
  <arg name="device" default="hw:0,0" />
  <arg name="video_device" default="/dev/video0" />
  <arg name="image_topic_raw" default="/usb_cam/image_raw"/> <!-- "/usb_cam/image_raw" or "/pylon_camera_node/image_raw" -->


  <!-- Real-time quality prediction -->
  <!-- <node name="quality_prediction" pkg="multimodal_monitoring" type="multimodal_prediction.py" /> -->


  <!-- launch robot: ABB or KuKa -->
  <include file="$(find simtech_workcell)/launch/ABB_workcell.launch" if="$(arg abb)">
    <arg name="gui" value="$(arg rviz)" />
  </include>

  <include file="$(find simtech_kuka_workcell)/launch/kuka_LDED_rsi_workcell.launch" if="$(arg kuka)">
    <arg name="rviz" value="$(arg rviz)" />
  </include>

  <!-- Thermal monitoring -->
  <include file="$(find thermal_monitoring)/launch/thermal_monitoring.launch" if="$(arg thermal)">
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="robot_launch" value="$(arg robot_launch)" />
    <arg name="plotjuggler_viz" value="$(arg plotjuggler_viz)" />
    <arg name="image_processing"  value="$(arg image_processing)"/>
  </include>

  <!-- Coaxial CCD monitoring (normal USB camera or Pylon camera) -->
  <include file="$(find camera_measures)/launch/coaxial_vision_measures.launch" if="$(arg vision)">
    <arg name="gui" value="true" />
    <arg name="pylon" value="$(arg pylon)" />
    <arg name="contour_extract" value="false"/>
    <arg name="convex_hull_extract" value="false"/>
    <arg name="moment_extract" value="false"/>
    <arg name="video_device" value="$(arg video_device)" />
    <arg name="image_topic_raw" value="$(arg image_topic_raw)" />
  </include>

  <!-- acoustic monitoring -->
  <include file="$(find acoustic_feature_extraction)/launch/acoustic_monitoring.launch" if="$(arg acoustic)">
    <arg name="audio_topic" value="$(arg audio_topic)"/>
    <arg name="device" value="$(arg device)" />
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="plotjuggler_viz" value="$(arg plotjuggler_viz)" />
  </include>

  <node name="plot_multimodal" pkg="plotjuggler" type="plotjuggler" if="$(arg plotjuggler_viz_multimodal)"/>



</launch>
