<launch>
  <arg name="sample_rate" default="44100"/>
  <arg name="abb" default="false" />
  <arg name="kuka" default="false" />
  <arg name="rviz" default="true"/>
  <arg name="thermal" default="false"/>
  <arg name="vision" default="true"/>
  <arg name="image_view" default="true" />
  <arg name="acoustic" default="true"/>
  <arg name="camera_type" default="usb" />
  <arg name="robot_launch" default="false" />
  <arg name="image_processing" default="true"/>
  <arg name="video_device" default="/dev/video0" />
  <arg name="defect_prediction" default="true" />
  <arg name="plotjuggler_viz" default="false"/>
  <arg name="plotjuggler_viz_multimodal" default="false"/>
  <arg name="audio_topic" default="/audio"/>
  <arg name="device" default="hw:0,0" /> <!-- arecord -l -->
  <arg name="frame_rate" default="60.0" />


  <!-- Real-time quality prediction -->
  <node name="quality_prediction" pkg="multimodal_monitoring" type="multimodal_prediction.py" if="$(arg defect_prediction)"/>


  <!-- launch robot: ABB or KuKa -->
  <include file="$(find simtech_workcell)/launch/ABB_workcell.launch" if="$(arg abb)">
    <arg name="gui" value="$(arg rviz)" />
  </include>

  <include file="$(find simtech_kuka_workcell)/launch/kuka_LDED_rsi_workcell.launch" if="$(arg kuka)">
    <arg name="rviz" value="$(arg rviz)" />
  </include>

  <!-- Thermal monitoring -->
  <include file="$(find thermal_monitoring)/launch/thermal_monitoring.launch" if="$(arg thermal)">
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="robot_launch" value="$(arg robot_launch)" />
    <arg name="plotjuggler_viz" value="$(arg plotjuggler_viz)" />
    <arg name="image_processing"  value="$(arg image_processing)"/>
    <arg name="frame_rate" value="$(arg frame_rate)"/>
  </include>

  <!-- Coaxial CCD monitoring (normal USB camera or Pylon camera) -->
  <include file="$(find coaxial_melt_pool_monitoring)/launch/coaxial_meltpool_monitoring.launch" if="$(arg vision)">
    <arg name="video_device" value="$(arg video_device)" />
    <arg name="image_view" value="$(arg image_view)" />
    <arg name="camera_type" value="$(arg camera_type)" />
    <arg name="frame_rate" value="60.0" />
  </include>

  <!-- acoustic monitoring -->
  <include file="$(find acoustic_feature_extraction)/launch/acoustic_monitoring.launch" if="$(arg acoustic)">
    <arg name="audio_topic" value="$(arg audio_topic)"/>
    <arg name="device" value="$(arg device)" />
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="plotjuggler_viz" value="$(arg plotjuggler_viz)" />
  </include>

  <node name="plot_multimodal" pkg="plotjuggler" type="plotjuggler" if="$(arg plotjuggler_viz_multimodal)"/>



</launch>
