<launch>
  <arg name="gui" default="true" />
  <arg name="sim" default="false" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find monitoring)/config/workcell.rviz" required="true" if="$(arg gui)" />
  
  <arg name="model" value="$(find monitoring)/urdf/workcell.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <!-- <include file="$(find abb_irb4400_support)/launch/test_irb4400l_30_243.launch">
  </include> -->


  <include file="$(find abb_driver)/launch/robot_interface.launch" unless="$(arg sim)">
    <arg name="robot_ip" value="192.168.125.1" />
    <arg name="J23_coupled" value="true" />
  </include>

  <rosparam command="load" file="$(find abb_irb4400_support)/config/joint_names_irb4400l_30_243.yaml" />

  <!-- use the robot state publisher to publish the /tf topic -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="velocity" pkg="camera_measures" type="nd_velocity.py" respawn="true"/>

  
</launch>
