<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true" />
    <arg name="sim" default="false" />


    <!-- open/closed the microepsilon robviz (the microepsilon driver + visualization GUI) -->
    <include file="$(find scanning_robviz)/launch/robviz_microepsilon_autocontrol.launch"/>

    <!-- open the pid-vrft auto control algorithm -->
    <!-- <include file="$(find simtech_robot_laser_control)/launch/vrft_adaptive_autocontrol.launch"/> -->

    <!-- this node is to (1) auto record the plane pcl, from beginning to end of scanning-->
    <!--(2) do pcl segmentation and filtering after scanning and ML model will predict the defects result -->
    <node name="pcl_subprocessing_classification" pkg="scanning_robviz" type="nd_pcl_processing" respawn="true" />

    <node pkg="auto_control" type="main.py" name="main_task" />

    <!-- open the JSON motion planning launch (1) the ROS-abb interface (command server and state server), (2) qt_path -->
    <include file="$(find motion_planning_jason)/launch/motion_planning.launch"/>
    

    

    


</launch>
